<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>reciMe-A happy happy place</title>
    <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link href="./../resources/css/styleSheet.css" rel="stylesheet" type="text/css">
  <script src="./../resources/js/script.js"></script>



  </head>

  <body>

<div class="topnav" id="bar">
  <a href="./homepage2.html">Random Recipe</a>
  <a href="#profile" id="test">Create Profile</a>
  <a href="#advSearch">Advanced Search</a>
  <p href="" class="test" style="font-size: 40px;padding: 0px 300px;">reciMe</p>


  <input type="text" style= "width:300px; height: 60px; font-size: 25px;" placeholder="Search.." id="searchBar" oninput="getSearch()">
  <a href="#advSearch" class="active" style="float: right;" onclick="search()">
    <img src="../resources/images/search_bar.jpg" style="
 width:50px;height:50px;
 padding: 0px 0px;
 margin:0px;"></a>
</div>



<div class="wrapper" id="grid">

<div class="col">


      <img src="../resources/images/a.jfif" class="image">

        <div class="overlay" id = "overlay1" onmouseover='hoverControl("overlay1")' onmouseout='hoverControlStop("overlay1")' onclick="api()">
    <div class="text" id="overlay1Text">Hello World</div>
  </div>


</div>

<div class="col">


      <img src="../resources/images/b.jfif" class="image">

        <div class="overlay" id = "overlay2" onmouseover='hoverControl("overlay2")' onmouseout='hoverControlStop("overlay2")'>
    <div class="text" id="overlay2Text">Hello World</div>
  </div>


</div>

<div class="col">


      <img src="../resources/images/c.jfif" class="image">

        <div class="overlay" id = "overlay3" onmouseover='hoverControl("overlay3")' onmouseout='hoverControlStop("overlay3")'>
    <div class="text" id="overlay3Text">Hello World</div>
  </div>


</div>

<div class="col">


      <img src="../resources/images/d.jfif" class="image">

        <div class="overlay" id = "overlay4" onmouseover='hoverControl("overlay4")' onmouseout='hoverControlStop("overlay4")'>
    <div class="text" id="overlay4Text">Hello World</div>
  </div>


</div>

<div class="col">


      <img src="../resources/images/e.jfif" class="image">

        <div class="overlay" id = "overlay5" onmouseover='hoverControl("overlay5")' onmouseout='hoverControlStop("overlay5")'>
    <div class="text" id="overlay5Text">Hello World</div>
  </div>


</div>
<div class="col">


      <img src="../resources/images/f.jfif" class="image">

        <div class="overlay" id = "overlay6" onmouseover='hoverControl("overlay6")' onmouseout='hoverControlStop("overlay6")'>
    <div class="text" id="overlay6Text">Hello World</div>
  </div>


</div>
<div class="col">


      <img src="../resources/images/g.jfif" class="image">

        <div class="overlay" id = "overlay7" onmouseover='hoverControl("overlay7")' onmouseout='hoverControlStop("overlay7")'>
    <div class="text" id="overlay7Text">Hello World</div>
  </div>


</div>
<div class="col">


      <img src="../resources/images/h.jfif" class="image">

        <div class="overlay" id = "overlay8" onmouseover='hoverControl("overlay8")' onmouseout='hoverControlStop("overlay8")'>
    <div class="text" id="overlay8Text">Hello World</div>
  </div>


</div>



</div>



</body>
</html>