<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>reciMe-A happy happy place</title>
    <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link href="./../resources/css/gridWork.css" rel="stylesheet" type="text/css">
  <link href="./../resources/css/styleSheet.css" rel="stylesheet" type="text/css">
  <script src="./../resources/js/script.js"></script>



  </head>

  <body>

<div class="topnav" id="bar">
  <a href="./homepage2.html">Random Recipe</a>
  <a href="#profile" id="test">Create Profile</a>
  <a href="#advSearch">Advanced Search</a>
  <p href="" class="test" style="font-size: 40px;padding: 0px 300px;">reciMe</p>
  <input type="text" style= "width:300px; height: 60px; font-size: 25px;" placeholder="Search.." id="searchBar" oninput="getSearch()">
  <a href="#advSearch" class="active" style="float: right;" onclick="search()">
    <img src="../resources/images/search_bar.jpg" style="
 width:50px;height:50px;
 padding: 0px 0px;
 margin:0px;"></a>
</div>



<div class="parent">

  <div></div>
  <div class="recipes">

    <img src="../resources/images/a.jfif" class="image" id= "test23" onmouseover='changeColor("test23")'>
    <img src="../resources/images/a.jfif" class="image">
    <img src="../resources/images/a.jfif" class="image">
    <img src="../resources/images/a.jfif" class="image">
    <img src="../resources/images/a.jfif" class="image">
    <img src="../resources/images/a.jfif" class="image">
    <img src="../resources/images/a.jfif" class="image">
    <img src="../resources/images/a.jfif" class="image">
    <img src="../resources/images/a.jfif" class="image">
    <img src="../resources/images/a.jfif" class="image">
    <img src="../resources/images/a.jfif" class="image">
    <img src="../resources/images/a.jfif" class="image">
    <img src="../resources/images/a.jfif" class="image">
    <img src="../resources/images/a.jfif" class="image">
    <img src="../resources/images/a.jfif" class="image">
    <img src="../resources/images/a.jfif" class="image">
  </div>

  <div></div>
  <div class="recipes">    <img src="../resources/images/a.jfif" class="image">
    <img src="../resources/images/a.jfif" class="image">
    <img src="../resources/images/a.jfif" class="image">
    <img src="../resources/images/a.jfif" class="image">
    <img src="../resources/images/a.jfif" class="image">
    <img src="../resources/images/a.jfif" class="image">
    <img src="../resources/images/a.jfif" class="image"></div>
</div>




</body>
</html>