include ../partials/header.pug
include ../partials/top_nav.pug
link(rel='stylesheet', href='../../resources/css/hover_control.css')

//makes grid
#grid.wrapper
  //ensures we have recipe data to display, else there is cannot read property length, undefined error
  if(data)
    //gets recipe json from array and array index
    each val, i in data
      //col makes a grid item
      .col
        //image and color change effect wrapped in a link to get recipe
        a(href='/recipe?recipe='+val.id style="display:block")
          img.image(src=val.image alt=val.title)
          .overlay(id ='overlay'+i onmouseover='hoverControl("overlay'+i+'")' onmouseout='hoverControlStop("overlay'+i+'")' health=val.healthScore)
            text(id ='overlay'+i+'Text' name=val.title class="text")
            
include ../partials/footer.pug
