<html lang="en">
<head>
    <meta charset="utf-8">
    <title>ReciMe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>reciMe-A happy happy place</title>
    <!-- Bootstrap and MyCSS -->
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="../resources/css/styleSheet.css" rel="stylesheet" type="text/css">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
.well { //each white box
    border: 0;
    padding: 20px;
    min-height: 63px;
    background: #fff;
}
    </style>
</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#brand" style="text-align: left"><h2>ReciMe</h2></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="HomePage.html">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="saved-recipes.html">My Recipes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#modal">Sign Up</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
<body>
<br>
<div class="container bootstrap snippet">
  <div class="row">
    		<div class="search result">
        		<div class="search area">
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
			    </div>
        	</div>
          <br>
          <br>
          <br>
          <br>
            <div class="well search-result">
            	<div class="row">
            		<a href="#">
                		<div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
	                    	<img class="img-responsive" src="pizza.jpg" alt="">
                		</div>
                		<div class="col-xs-6 col-sm-9 col-md-9 col-lg-10 title">
	                    	<h3>Recipe 1</h3>
                		</div>
									</a>
									<p>Maybe a description of the recipe or something.</p>
            	</div>
            </div>
            <div class="well search-result">
            	<div class="row">
            		<a href="#">
                		<div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
	                    	<img class="img-responsive" src="pizza.jpg" alt="">
                		</div>
                		<div class="col-xs-6 col-sm-9 col-md-9 col-lg-10 title">
	                    	<h3>Recipe 2</h3>
                		</div>
            		</a>
								<p>Maybe a description of the recipe or something.</p>
            	</div>
            </div>
            <div class="well search-result">
            	<div class="row">
            		<a href="#">
                		<div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
	                    	<img class="img-responsive" src="pizza.jpg" alt="">
                		</div>
                		<div class="col-xs-6 col-sm-9 col-md-9 col-lg-10 title">
	                    	<h3>Recipe 3</h3>
                		</div>
            		</a>
								<p>Maybe a description of the recipe or something.</p>
            	</div>
            </div>

		</div>
    </div>
</div>



</body>
</html>
