include ../partials/header.pug
include ../partials/top_nav.pug

table(style='width:100%')
  tr
    th Firstname
    th Lastname
    th Age
  tr
    td Jill
    td Smith
    td 50
  tr
    td Eve
    td Jackson
    td 94
  tr
    td John
    td Doe
    td 80